$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
/*$grid-gutter-width: 18px;*/
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_blog-post.scss";
@import "_blog_post_single.scss";
.container-fluid{ 
    margin-top: 51px;
    padding-left: 15px;
    padding-right: 15px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}
.entry-date-section{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Raleway,sans-serif;
    text-align: center;
    letter-spacing: 1px;
}
.entry-date-section > p{
    padding: 10px 15px;
    background-color: #FFF;
    border: 2px solid #DDD;
    display: block;
    width: 180px;
    margin: 50px auto 50px auto;
}
.entry-date-section > button{
    padding: 10px 15px;
    background-color: #EEE;
    border: 2px solid #CCC;
    display: block;
    width: 180px;
    text-align: center;
    margin: 10px auto 50px auto;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  height: 50px;

    .navbar-inverse{
          background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%);
          background-image: -o-linear-gradient(top, #3c3c3c 0, #222 100%);
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c3c3c), to(#222));
          background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
          border-radius: 4px;
    }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

.business-tech-blog{
    h1{
        text-align: center;
        color: #337ab7;
        margin: 30px 0;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-md-min) {
    .entry-date-section > p,.entry-date-section > button{
        margin: 10px auto;
    }
    .leftArea{
        border-right: dashed 1px #897f8a; 
        padding-bottom: 47px;
    }
    /* Add padding to allow vertical timeline with arrows*/
    .rightArea .post{
        display: block;
        padding-left: 75px; 
    }
    .leftArea .post{
        display: block;
        padding-right: 75px;    
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
      padding-left: 0;
      padding-right: 0;
    }
    /* Space out the masthead */
    .header {
      /*margin-bottom: 51px;*/
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
      border-bottom: 0;
    }
}
