<article class="business-tech-blog">
    <section class="introduction">
      <h1>Business And Technology blog</h1>
      <p>Our Latest Business and Technology News in a Timeline</p>  
    </section>
    <section class="post-tilemline">
        <div class="entry-date-section">
            <p>{{date | date:'MMMM yyyy'}}</p>
        </div>
        <div class="row">
            <div class="col-md-6 leftArea">
                <post ng-repeat="postInfo in oddPostList"></post>
            </div>
            <div class="col-md-6 rightArea">
                <post ng-repeat="postInfo in evenPostList"></post>
            </div>
        </div>
        <div class="entry-date-section">
            <button>LOAD MORE</button>
        </div>
    </section>
 </article>