<div class="row post-page">
    <article class="post col-md-9">
        <h1>{{post.title}}</h1>
        <div class="post-category">
            <span>coding</span>,
            <span>business</span>
        </div>
        <div class="meta-post-info">
            <p>{{post.author}}</p>
            <p>{{post.date}}</p>
            <p>{{post.commentCount}} comments</p>
        </div>
        <section class="content">
            {{post.content}}
        </section>
        <section class="post-extra-ouput">
            <author-bio></author-bio>
            <div class="tag-cloud"></div>
            <div class="share"></div>
        </section>
        <section class="comments">

        </section>
    </article>
    <aside class="col-md-3 right-sidebar" role="complementary">

    </aside>
</div>
