<div class="row post-page">
    <article class="post col-md-9">
        <h1>{{post.title}}</h1>
        <div class="post-category">
            <span>coding</span>,
            <span>business</span>
        </div>
        <div class="meta-post-info">
            <span><i class="glyphicon glyphicon-user"></i>{{post.author}}</span>
            <span><i class="glyphicon glyphicon-calendar"></i>{{post.date}}</span>
            <span><i class="glyphicon glyphicon-comment"></i>{{post.commentCount}}</span>
        </div>
        <section class="content">
            {{post.content}}
        </section>
        <section class="post-extra-ouput">
            <div class="author-bio"></div>
            <div class="tag-cloud"></div>
            <div class="share"></div>
        </section>
        <section class="comments">

        </section>
    </article>
    <aside class="col-md-3 right-sidebar" role="complementary">

    </aside>
</div>
