<div class="post-arrow">
        <div class="timeline-divider"></div>
        
</div>
<div class="post-image">
    <a href="{{postInfo.url}}">
        <img class="img-responsive" src="{{postInfo.image.url}}" alt="{{postInfo.image.alt}}">
    </a>
</div>
<a href="{{postInfo.url}}">
    <h2 class="post-title">{{postInfo.title}}</h2>
</a>
<ul class="post-meta clearfix">
    <li><i class="glyphicon glyphicon-calendar"></i> 10th Feb 2014</li>
    <li><a href="blog-single.php#comments"><i class="glyphicon glyphicon-comment"></i> 13</a></li>
    <li><a href="#"><i class="glyphicon glyphicon-camera"></i></a></li>
</ul>
<div class="post-content">
    <p>{{postInfo.description}}</p>
    <a href="#" class="more-link">Read More</a>
</div>
